@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&family=Libre+Barcode+39+Text&display=swap');

body {
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
    background-image: url(../images/pexels-markus-spiske-1089438.jpg);
    background-position: right;
    height: auto;
}
header {
    width: 100%;
    height: 60px;
    background-color: rgb(19, 19, 19);
}
.main {
    max-width: 800px;
    margin: auto;
    padding: 15px;
    padding-top: 0;
}
.title {
    font-family: 'Libre Barcode 39 Text', cursive;
    text-align: center;
    font-size: 2.2rem;
    padding-top: 10px;
    background-color: white;
    width: 100%;
    padding: 15px 0;
}
p {
    font-size: 18px;
    margin: 0;
    color: white;
    font-weight: bold;
}
.msg-wrapper {
    width: 90%;
    margin: 10px auto;
    height: 100px;
}
.msg {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    text-align: start;
    font-family: 'Encode Sans', sans-serif;
    padding: 5px 10px;
}
.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.enter,
.reload,
.convert,
.decodificar {
    margin: 10px;
    width: 120px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid white;
    background-color: rgb(19, 19, 19);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.result {
    width: 90%;
    margin: 30px auto;
    height: 300px;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
}
.codificado {
    padding: 5px 10px;
    color: black;
}
.reload-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15rem;
}

footer {
    width: 100%;
    height: 60px;
    background-color: rgb(19, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {
    font-weight: normal;
    font-size: 13px;
}
.block {
    display: none;
}
.layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: gray;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.authorized {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.authorized h2 {
    margin: 3px 8px; 
}
.authorized p {
    padding: 5px;
}
.password {
    padding: 5px;
    outline: none;
}
.enter {
    outline: none;
}
@media screen and (max-width: 600px) {
    .layer h1 {
        font-size: 24px;
    }
    .layer h3 {
        font-size: 16px;
    }
}